<div class="container main-display">
	<h1><%= @library.name %></h1>
	<h2>Adventure Index</h2>

	<table class="table table-striped">
			<colgroup>
				<col class="col-md-9"/>
				<col class="col-md-3"/>
			</colgroup>
			<thead>
				<tr>
					<td><h4>Title</h4></td>
					<td><h4>Author</h4></td>
				</tr>
			</thead>
			<tbody>
				<% @library.adventures.each do |a| %>
					<tr>
						<td><%= link_to a.title, adventure_page_path(a, a.pages.find_by_name("start")) %></td>
						<td><%= a.author %></td>
					</tr>
				<% end %>
			</tbody>
	</table>
</div>