body {
	padding-top: 40px;
	background: url(http://i.imgur.com/7KFLJlY.jpg?1) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.nav-btn {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 40px;
}

.main-display {
	background-color: white;
	border: 4px solid black;
	border-radius: 20px;
	max-width: 480px;
	margin: 0 auto;
	text-align: center;
	padding: 10px 5px 60px 5px;
}

.input-field {
	display: inline-block;
	width: 400px;
	height: 35px;
	padding: 8px;
	margin: 10px;
	border: 1px solid gray;
	border-radius: 4px;
	font-size: 12px;
}

.lib-search-btn {
	display: inline-block;
	width: 400px;
	margin: 10px;
}