<!DOCTYPE html>
<html>
<head>
  <title>AdventureLibrary</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="nav-btn">
<div class="btn-group btn-group-lg">
	<a class="btn btn-primary" href="/">HOME</a>
	<a class="btn btn-primary" href="/libraries">Libraries</a>
	<a class="btn btn-primary" href="/adventures">Adventures</a>
</div>
</div>

<%= yield %>

</body>
</html>
